.side-menu-card {
  width: 250px;
  position: fixed;
  top: 10vh;
  left: 5vh;
  height: 90vh; // Adjust based on top offset
  z-index: 1000;

  .card {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ::ng-deep .p-tieredmenu {
    font-size: 12px;
    width: 100%;
  }
}
